.footer {width: 100%;margin-top: 20%;}

#tarjeta {
color: var(--celeste);
font-size: 35px;
text-align: center;
}

#regalo {
color: var(--celeste);
font-size: 35px;
text-align: center;
}

#user-shield {
color: var(--celeste);
font-size: 35px;
text-align: center;
}



.contein-blue-icons {
    
display: flex;
    
margin-top: 100px;
    
width: 100%;
}


.copyright {
    display: block;
    margin-top: 100px;
}

.contein-pago-tarjeta {

display: flex;

flex-direction: column;

gap: 10px;
}

.contein-envio-gratis {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contein-seguridad {display: flex;flex-direction: column;gap: 10px;}