:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --blanco: #ffffff;--familyRoboto:
    'Roboto', sans-serif;
    --size12: 12px;
    --sizeTitulares: 24px;
    --sizePrecios: 18px;
    --sizeDescuentos: 16px;
    --sizeDescripciones: 16px;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--familyRoboto);
    width: 100%;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
    font-size: var(--size12);
    margin: 2%;
}

main ul section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}



/*-------------------------------------------------------*/
/* TABLET */

@media (min-width: 361px) {
    
article {    
    width: calc(50% - 20px);
}

article:hover {
    box-shadow: 0px 0px 10px rgb(100,100,100);
}
    
    }






/*-------------------------------------------------------*/
/* DESKTOP */

@media (min-width: 769px) { 

article {
    width: calc(25% - 20px);
}

}