.mercado-liebre-top {
    
display: flex;
    
gap: 10px;
    
align-content: center;
}


.titular{
    font-size: var(--sizeTitulares);
    color: var(--gris-oscuro);
    margin: 5% 0%;
}



#ofertas {
}

.main-home {width: 90%;display: flex;flex-direction: column;background-color: var(--gris-claro);margin: 0 auto;}

article {display: flex;background-color: var(--blanco);flex-wrap: wrap;height: 25%;margin: 10px 10px;}


.main p {
    font-size: 16px
}

.contein-truck {
    display:block
}



.descuento {
    font-size: var(--sizeDescuentos);
    color: var(--verde);
    width: 70%;
}
.precio {
    font-size: var(--sizePrecios);
    width: 30%;
}



.descripciones {
    font-size: var(--sizeDescripciones);
    color: var(--gris-oscuro);
}

.main-home .camion{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.main-home .camion:hover {
    transform: rotate(-90deg);
}




/*-------------------------------------------------------*/
/* TABLET */

@media (min-width: 361px) {



.contein-precio-descuento {
    display: flex;
    width: 100%;
}


.contein-info-product h4 {
    position:relative;
    overflow: hidden;
    height: 0px;
    transition: 500ms all;
}


.contein-info-product:hover h4 {
    height: 30px;
}


}

.contein-menu {
    display: flex;
    margin-top: 2%;
    flex-direction: row;
}




/*-------------------------------------------------------*/
/* DESKTOP */

@media (min-width: 769px) {  

.lista-cuenta {
    display: block;
}



}


