.login .white-bar {
    margin: 10px 0px;
    height: 30px;
    border-radius: 5px;
    border-color: 1 solid var(--gris-oscuro);
}

.login .card {
    background-color: var(--gris-claro);
}

.login button {
    color: var(--blanco);
    background-color: var(--celeste);
    border: none;
    margin: 10px 0px;
    border-radius: 5px;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
}

.login .boton-enviar {

}

.login .boton-enviar:hover {
    color: #0022AA;
}